@import "vars";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    .identifying-header {
        display: none;
    }
}

.container {
    max-width: 960px;
    margin: 0 auto;

    @media (max-width: 959px) {
        padding: 0 30px;

    }

    @media (max-width: 425px) {
        padding: 0 20px;
    }

    @media (max-width: 320px) {
        margin: 0 auto;
    }
}

.header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #fff;
    top: 0;
    left: 0;
    box-shadow: 0 1px 2px #E5E5E5;
    z-index: 10000;
    &__main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        @media screen and (max-width: 1023px) {
            padding: 0 30px;
        }
        @media screen and (max-width: 425px) {
            padding: 0 15px;
        }
    }

    &__logo {
        max-width: 100px;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__mobile-logo {
        width: 30px;
        height: 28px;
        @media screen and (max-width: 768px) {
            display: block;
        }
    }

    &__nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    &__link {
        list-style: none;
        a {
            padding: 27px 20px;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;
            color: $font-color;
            line-height: 1.5;

            &:hover {
                border-bottom: solid 2px $font-color;
                transition-duration: .1s;
            }
        }
    }

    .active-item {
        border-bottom: solid 2px $font-color;
    }

    .join-btn {
        border: solid 1px $font-color;
        font-weight: 600;
        border-radius: 8px;
        padding: 5px 20px;
        background-color: #fff;
        outline: none;
        cursor: pointer;
        &:hover {
            box-shadow: 0 0 5px $font-color;
        }
    }

    &__burger-btn {
        @media screen and (max-width: 768px){
            display: block;
        }
    }
}

.burger-inner {
    .mobile-menu {
        position: absolute;
        width: 100%;
        padding: 70px 15px 0 15px;
        background-color: #fff;
        top: -500%;
        left: 0;
        z-index: 9999;
        .join-btn-wrapper{
            position: relative;
            display: flex;
            align-items: center;
            padding: 17px 0;
            .avatar {
                margin-right: 15px;
                max-width: 40px;
            }
            .mob-join-btn {
                color: $font-color;
                text-transform: capitalize;
                font-weight: 600;
                padding: 15px 0;
            }
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background-color:#e5e5e5;
                bottom: 0;
                left: 0;
            }
        }

        .mobile-nav-bar {
            list-style-type: none;
            padding: 0;
            margin: 0;
            .mobile-link {
                padding: 10px 0;
                height: 50px;
                display: flex;
                align-items: center;
                a {
                    text-decoration: none;
                    text-transform: capitalize;
                    color: #637381;
                }
            }
            .home {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 55px 0;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color:#e5e5e5;
                    bottom: 0;
                    left: 0;
                }
                .home-icon{
                    margin-right: 10px;
                }
            }
            .sell {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color:#e5e5e5;
                    bottom: 0;
                    left: 0;
                }
            }
            .about {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color:#e5e5e5;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}

.buy {
    margin-top: 70px;
    padding-top: 30px;
    background-color: #f8f9fc;
    @media (max-width: 425px) {
        margin-top: 170px;
    }
    &__navigation-bar{
        width: 100%;
        height: 70px;
        border-radius: 12px;
        background-color: #fff;
        button {
            margin: 0;
            border: 0;
            outline: none;
            padding: 0;
            display: inline-block;
            background: none;
            line-height: 1;
            font-weight: 300;
            color: #94a4ba;
            position: relative;
            font-size: 16px;
            height: 100%;
            cursor: pointer;
        }
        .search-icon {
            color: #94a4ba;
            position: relative;
            font-size: 16px;
            padding-right: 38px;
            height: 100%;
            width: 150px;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .switch-btns {
        text-align: right;
        margin: 16px 0;
        .switch {
            border: none;
            outline: none;
            background-color: #fff;
            padding: 5px 8px;
            border-radius: 8px;
            margin-right: 10px;
            cursor: pointer;
            &:focus{
                background-color: $main-color;
                svg{
                    fill: #fff;
                }
            }
        }
    }

    .slider-map {
        display: flex;
        .slides-column {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            height: 450px;
            overflow: scroll;
        }
        .maps-column {
            width: 100%;
            iframe {
                width: 100%;
                height: 450px;
            }
        }
    }
}

.slider{
	width: 450px;
	border-radius: 12px;
	padding: 5px;
	transition-delay: .45s;
	margin: 5px;
	@media screen and (max-width: 959px){
		width: 100%;
	}
	&:hover {
		box-shadow: 0 0 3px rgb(185, 185, 185);
	}

	&__price-and-calendar {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0;
		border-bottom: 1px solid #e6e6e6;
		.price {
			color: #533b86;
			font-size: 25px;
			margin: 0;
		}
		.calendar {
			background-color: #533b86;
			border: 0;
			outline: 0;
			border-radius: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 120px;
			height: 35px;
			p {
				color: #fff;
				font-size: 16px;
				font-weight: 600;
			}
		}
	}

	&__nav-icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__favorites-and-share {
		transition-delay: .45s;
	}

	&__favorites{
		cursor: pointer;
		&:hover path {
			fill: #ff5331;
		}
	}

	&__share{
		cursor: pointer;
		&:hover path {
			fill: #008ce3;
		}
	}

	&__terms {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 50%;
	}
	
	&__bed {
		display: flex;
		justify-content: space-between;
		align-items: center;
		img {
			width: 25px;
			margin-right: 5px;
		}
		p{
			font-size: 14px;
		}
	}

	&__bath {
		display: flex;
		justify-content: space-between;
		align-items: center;
		img {
			width: 25px;
			margin-right: 5px;
		}
		p{
			font-size: 14px;
		}
	}
	
	&__area {
		display: flex;
		justify-content: space-between;
		align-items: center;
		img {
			width: 25px;
			margin-right: 5px;
		}
		p{
			font-size: 14px;
		}
	}
}

.sliders{
	.container{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media screen and (max-width: 768px){
			display: block;
		}
	}
}

.footer {
    padding-top: 80px;
    margin-top: 3px;
    background-image: linear-gradient(180deg, #0f0f0f, #1c1c1c);
    color: #ffffff;

    &__f-logo {
        width: 100px;
    }

    &__region-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 80px 0 10px 0;
        list-style-type: none;
        text-transform: capitalize;

        .region-inner {
            position: relative;
            width: 230px;
            max-height: 260px;
            padding: 20px 10px;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;

            .region-item {
                width: 230px;
                max-height: 290px;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                p {
                    text-transform: uppercase;
                }

                a {
                    text-decoration: none;
                    text-transform: capitalize;
                    color: #a1a1a1;
                    font-weight: 200;
                    padding: 3px 0;

                    &:hover {
                        color: #fff;
                    }

                }
            }

            .more-btn-wrapper {
                position: absolute;
                bottom: -6%;
                width: 100%;
                height: 30px;

                .view-more-btn {
                    position: absolute;
                    bottom: 0;
                    background-color: transparent;
                    color: #ffffff;
                    text-align: left;
                    border: none;
                    outline: none;
                    padding: 0;
                    width: 100%;
                    cursor: pointer;
                }
            }

            .close-view-btn {
                background-color: transparent;
                color: #ffffff;
                text-align: left;
                border: none;
                outline: none;
                padding: 20px 0 0 0;
                width: 100%;
                cursor: pointer;
                display: none;
            }

        }

        .region-inner-mobile {
            position: relative;
            width: 230px;
            max-height: 260px;
            padding: 20px 10px;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            display: none;

            .region-item-mobile {
                width: 230px;
                max-height: 290px;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                p {
                    text-transform: uppercase;
                }

                a {
                    text-decoration: none;
                    text-transform: capitalize;
                    color: #a1a1a1;
                    font-weight: 200;
                    padding: 3px 0;

                    &:hover {
                        color: #fff;
                    }

                }
            }

            .more-btn-wrapper {
                position: absolute;
                bottom: -6%;
                width: 100%;
                height: 30px;

                .view-more-btn {
                    position: absolute;
                    bottom: 0;
                    background-color: transparent;
                    color: #ffffff;
                    text-align: left;
                    border: none;
                    outline: none;
                    padding: 0;
                    width: 100%;
                    cursor: pointer;
                }
            }

            .close-view-btn {
                background-color: transparent;
                color: #ffffff;
                text-align: left;
                border: none;
                outline: none;
                padding: 20px 0 0 0;
                width: 100%;
                cursor: pointer;
                display: none;
            }

        }

        .footer-nav-bar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px 10px;
            width: 230px;
            height: 290px;

            p {
                text-transform: uppercase;
            }

            a {
                text-decoration: none;
                margin: 5px 0;
                color: #a1a1a1;
                font-weight: 200;
                padding: 3px 0;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    &__social-menu {
        position: relative;
        text-align: center;
        padding: 40px;

        .social-icon {
            width: 45px;
            margin: 0 15px;
            border-radius: 50%;

            &:hover {
                cursor: pointer;

                path {
                    fill: #000000;
                }

                g {
                    fill: #ffffff;
                }
            }
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: " ";
            width: 100%;
            border: solid 1px #fff;
            border-image-source: linear-gradient(90deg, hsla(0, 0%, 78.4%, 0), #fff 51%, hsla(0, 0%, 59.2%, 0));
            border-image-slice: 1;
        }
    }

    &__teams-link {
        width: 100%;
        text-align: center;
        padding-bottom: 50px;

        a {
            color: #a1a1a1;
            text-transform: capitalize;
            text-decoration: none;
            margin: 5px 20px;

            &:hover {
                color: #ffffff;
            }
        }

        .first-link {
            position: relative;

            &::after {
                content: '';
                width: 5px;
                height: 5px;
                background-color: #fff;
                position: absolute;
                right: -25px;
                bottom: 6px;
                border-radius: 50%;
            }
        }
    }

    @media (max-width: 768px) {
        .region-inner {
            padding: 20px 0;
        }

        .region-item {
            max-width: 200px;

            a {
                width: 200px;
            }
        }
    }

    @media (max-width: 425px) {
        padding-top: 40px;

        &__region-wrapper {
            padding-top: 60px;
        }

        &__social-menu {
            padding: 40px 0;

            .social-icon {
                margin: 3px;
                width: 38px;
            }
        }

        .region-inner {
            display: none;
        }

        .region-inner-mobile {
            display: flex;
            padding: 10px 0;
        }

        .footer-nav-bar {
            padding: 0;
            height: 130px;
        }
    }
}
